@keyframes kenburns-bottom {
  0% {
    transform: scale(0.75) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1) translateY(0px);
    transform-origin: bottom;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes heart-beat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto Mono", "Arial", sans-serif;
  color: black;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  margin: 0 5%;
  line-height: 1.4;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0 5%;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
p {
  animation-name: text-focus-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.stripe img {
  max-height: 100px;
  width: 100%;
  animation-name: text-focus-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.fade-img {
  animation-name: text-focus-in;
  animation-duration: 1.7s;
}
img {
  width: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030303;
  position: fixed;
  width: 100%;
  z-index: 50;
}
header .logo img {
  width: 300px;
  max-width: 100%;
  height: auto;
  animation-name: text-focus-in;
  animation-duration: 4s;
}
header nav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin: 0 2% 0 0;
  animation-name: text-focus-in;
  animation-duration: 4s;
}
@media (max-width: 500px) {
  header nav {
    align-items: center;
    margin: 0 2% 12px;
    justify-content: center;
  }
}
@media (max-width: 799px) {
  header nav {
    align-items: center;
    margin: 0 2% 12px;
    justify-content: center;
  }
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 5%;
}
header nav a:hover {
  color: #ff446a;
}
header .logo.alternate img {
  animation-name: text-focus-in;
  animation-duration: 2s;
}
header .alternate-nav {
  animation-name: text-focus-in;
  animation-duration: 2s;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 799px) {
  header {
    flex-direction: column;
  }
}
footer {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 48px;
}
.alternate-footer {
  margin-top: 24px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  text-align: center;
  margin-top: 84px;
}
.container h4 {
  margin: 60px auto 0;
  text-align: center;
}
.container h3 {
  margin: 60px auto 0;
  text-align: center;
}
.container h5 {
  font-size: 2rem;
  text-align: center;
  margin: 40px 5% 40px;
}
.container img,
.container video {
  max-height: 800px;
  max-width: 600px;
  width: 100%;
  height: auto;
}
.container video {
  opacity: 0;
  animation: text-focus-in 1.5s ease-in-out forwards;
}
@media (max-width: 500px) {
  .container img,
  .container video {
    width: 95%;
  }
}
@media (max-width: 799px) {
  .container img,
  .container video {
    width: 95%;
  }
}
.container .item {
  margin: 24px auto;
  text-align: center;
}
.container .item p {
  margin: 24px auto 12px;
  width: 90%;
  text-align: center;
}
.container.alternate {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.container.alternate h4 {
  margin: 100px auto 40px;
  text-align: center;
}
.container.alternate p {
  text-align: center;
  margin-bottom: 24px;
}
.container.alternate .socials {
  margin-top: 24px;
  padding: 20px 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: text-focus-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
}
.container.alternate .socials div {
  display: flex;
  align-items: center;
  margin: 0 5% 0 5%;
}
.container.alternate .socials div img {
  height: 50px;
  width: auto;
  max-height: 100%;
}
.container.alternate .socials div a {
  font-size: 1.6rem;
  margin: 0 10%;
}
.container.alternate .iframe {
  max-width: 600px;
  height: 337px;
}
.aboutStripe {
  max-height: 100px;
  width: 100%;
  animation-name: text-focus-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.portfolio-title {
  margin-bottom: 48px;
}
