/* Universal Styles */
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  color: black;
  background-color: white;
  font-size: 22px;
  text-align: center;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

h2,
h3,
h4,
h6 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Section */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  /* border-bottom: 4px solid #81C4FF; */
  align-items: center;
}

header img {
  margin: 5px 0px 0px -35px;
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main Section */


.stripe img{
  margin-top: 11rem;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
  padding-top: 4em;
}


.main {
  opacity: 0.9;
  margin: 0 auto;
}

/* Portfolio Section */


#galleryHead {
  margin: 0 auto;
  padding-top: 100px;
  height: 80px;
}

.content {
  margin: 2rem auto;
}

.content h5 {
  margin: 2rem auto 2rem;
  padding-top: 2.5rem;
  width: 40%;
  text-align: center;
}

.stripe {
  margin-top: 5rem;
}


#portfolio .content {
  margin: 0 auto;
  background-color: white;
  width: 100%;
}

/* gallery section */

#gallery {
  margin: 0 auto;
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 75%;
}


#gallery h4{
  font-weight: normal;
  margin: 3em auto 4.5em;
}





.item {
  padding: 5px;
  margin: 0 auto;

}

.item img {
  margin: 0 auto;
  height: 600px;
  width: 700px;
  display: block;
  object-fit: contain;
}

.item span {
  margin-top: 1em;
  margin-bottom: 5.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  text-align: center;
  font-size: .75em;
}

#stripe2 {
  margin: 2rem auto 2rem;
  height: 50px;
}

#dreamH4 {
  margin: 0 auto;
}

.item2 img {
  margin: 1rem auto 0em;
  height: 450px;
  width: 700px;
  display: block;
  object-fit: contain;
}

h5 a {
  color: blue;
}



footer {
  margin: 4em 0em 1em;
  font-size: .7em;
}

.item2 span {
  margin-top: 1em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  text-align: center;
  font-size: .75em;
}

footer a {
  color: blue;
}

#contactFooter {
  margin: 22rem 0rem 0rem 0rem;
}

#aboutFooter {
  margin: 22rem 0rem 0rem 0rem;
}

.ACStripe {
  display: block;
  margin-top: 4rem;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
  padding-top: 4em;
}
