.container {
  .container-style();
  .center();
  flex-direction: column;

  h1 {
    text-align: center;
    margin-top: 84px;    
  }

  h4 {
    margin: 60px 0 60px;
    text-align: center;
  }

  h5 {
    font-size: 1.6rem;
    text-align: center;
    margin: 40px 5% 40px;
  }

  img, video {
    max-height: 800px;
    max-width: 600px;
    width: 100%;
    height: auto;

    @media @phone {
      width: 95%;
    }

    @media @tablet {
      width: 95%;
    }
  }

  .item {
    text-align: center;

    p {
      margin: 12px auto 60px;
      width: 90%;
      text-align: center;
    }
  }
}

.container.alternate {
  display: flex;
  justify-content: space-between;
  height: 68vh;
  
  h4 {
    margin: 76px auto 76px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .socials {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    justify-content: center;

    div {
      display: flex;
      align-items: center;
      margin: 0 5% 0 5%;

      img {
        height: 50px;
        width: 50px;
        max-height: 100%;
      }

      a {
        font-size: 1.6rem;
        margin: 0 10%;
      }
    }    
  }
}



