header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @nav-bg;
  position: fixed;
  width: 100%;
  z-index: 50;

  .logo {
    
    img {
      width: 300px;
      max-width: 100%;
      height: auto;
      animation-name: text-focus-in;
      animation-duration: 4s;
    }
  }

  nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin: 0 2% 0 0;
    animation-name: text-focus-in;
    animation-duration: 4s;

      @media @phone {
        align-items: center;
        margin: 0 2% 12px;
        justify-content: center;
      }

      @media @tablet {
        align-items: center;
        margin: 0 2% 12px;
        justify-content: center;
      }

    a {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      margin-left: 5%;
    }
  }

  .logo.alternate {
    img {
      animation-name: text-focus-in;
      animation-duration: 2s;
    }
  }

  .alternate-nav {
    animation-name: text-focus-in;
    animation-duration: 2s;
  }

  @media @phone {
    flex-direction: column;
  }
  
  @media @tablet {
    flex-direction: column;
  }
}